html
<section class="section-cv">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="cv-sidebar">
          <div class="cv-photo">
            <img src="https://placehold.co/200x200" alt="Photo">
          </div>
          <div class="cv-info">
            <h3 class="cv-name">Victoria Doe</h3>
            <p class="cv-title">UX/UI Designer</p>
            <ul class="cv-contact">
              <li><a href="tel:+1234567890"><i class="fa fa-phone"></i> +123 456 7890</a></li>
              <li><a href="mailto:victoria.doe@example.com"><i class="fa fa-envelope"></i> victoria.doe&#64;example.com</a></li>
              <li><a href="https://www.linkedin.com/in/victoria-doe/"><i class="fa fa-linkedin"></i> linkedin.com/in/victoria.doe</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="cv-content">
          <div class="cv-section">
            <h4 class="cv-section-title">Summary</h4>
            <p class="cv-section-content">
              UX/UI Designer with 5+ years of experience in creating user-centered designs for web and mobile applications. Proven ability to translate user needs into intuitive and visually appealing interfaces.
            </p>
          </div>
          <div class="cv-section">
            <h4 class="cv-section-title">Skills</h4>
            <ul class="cv-skills">
              <li>User Experience Design</li>
              <li>User Interface Design</li>
              <li>Interaction Design</li>
              <li>Prototyping</li>
              <li>Wireframing</li>
              <li>Visual Design</li>
            </ul>
          </div>
          <div class="cv-section">
            <h4 class="cv-section-title">Experience</h4>
            <div class="cv-job">
              <h5 class="cv-job-title">UX/UI Designer</h5>
              <p class="cv-job-company">Google</p>
              <p class="cv-job-date">2016 - Present</p>
              <ul class="cv-job-responsibilities">
                <li>Designed and prototyped user interfaces for a variety of web and mobile applications.</li>
                <li>Conducted user research and usability testing to improve the user experience.</li>
                <li>Collaborated with product managers, engineers, and other designers to create innovative and user-friendly products.</li>
              </ul>
            </div>
            <div class="cv-job">
              <h5 class="cv-job-title">UX Designer</h5>
              <p class="cv-job-company">Facebook</p>
              <p class="cv-job-date">2014 - 2016</p>
              <ul class="cv-job-responsibilities">
                <li>Designed and prototyped user interfaces for Facebook's mobile app.</li>
                <li>Conducted user research and usability testing to improve the user experience.</li>
                <li>Collaborated with product managers, engineers, and other designers to create innovative and user-friendly products.</li>
              </ul>
            </div>
          </div>
          <div class="cv-section">
            <h4 class="cv-section-title">Education</h4>
            <div class="cv-education">
              <h5 class="cv-education-degree">Master of Science in Human-Computer Interaction</h5>
              <p class="cv-education-institution">University of Michigan</p>
              <p class="cv-education-date">2014</p>
            </div>
            <div class="cv-education">
              <h5 class="cv-education-degree">Bachelor of Science in Computer Science</h5>
              <p class="cv-education-institution">University of California, Berkeley</p>
              <p class="cv-education-date">2012</p>
            </div>
<button (click)="miMensajeEspecial('Bienvenido, bienvenida, espero no reprobar')">Click Me</button>

